In [1]:
pip install -e .

Obtaining file:///E:/pharmacodynamics
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Checking if build backend supports build_editable: started
  Checking if build backend supports build_editable: finished with status 'done'
  Getting requirements to build editable: started
  Getting requirements to build editable: finished with status 'done'
  Preparing editable metadata (pyproject.toml): started
  Preparing editable metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: PharmOps
  Building editable for PharmOps (pyproject.toml): started
  Building editable for PharmOps (pyproject.toml): finished with status 'done'
  Created wheel for PharmOps: filename=PharmOps-0.2.1.post0+dirty-0.editable-py3-none-any.whl size=3212 sha256=e2f24dcb31b1e586b72aff662998ea46c78f6f54f9c738e9691379fe317a2173
  Stored in directory: C:\Users\bartlelo\AppData\Local\Temp\2\pip-ephem-wheel-cache-qwfbp72x\wheels\c6\05\80\c89cb64c2e8665925d84b443324e9e62ea216185fc2c71b3e3
Successfully built PharmOps
Installing collected packages: PharmOps
  Attempting uninstall: PharmOps
    Found existing installation: PharmOps 0.2.0.post0+dirty
    Uninstalling PharmOps-0.2.0.post0+dirty:
      Successfully uninstalled PharmOps-0.2.0.post0+dirty
Successfully installed PharmOps-0.2.1.post0+dirty
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import PharmOps
from importlib.metadata import version

In [3]:
# import raw data spreadsheet
rawData = pd.read_excel('sample data\\Binding Template for RAW transformations.xlsx')
rawData

,Unnamed: 0,1,2,3,4,5,6,7,8,9,10,11,12,Unnamed: 13,Unnamed: 14
0,A,300,174,145,195,222,277,349,341,259,313.0,250.0,307.0,NaN,copy-paste from raw txt to left
1,B,344,214,140,196,243,292,436,338,276,272.0,270.0,312.0,NaN,NaN
2,C,373,212,209,202,234,331,389,341,326,358.0,318.0,369.0,NaN,NaN
3,D,506,190,149,263,325,321,374,372,341,334.0,333.0,385.0,NaN,NaN
4,E,358,265,209,282,487,421,454,398,335,441.0,343.0,334.0,NaN,NaN
5,F,565,162,158,364,435,425,497,476,352,474.0,327.0,413.0,NaN,NaN
6,G,361,176,161,261,262,387,430,380,314,375.0,396.0,422.0,NaN,NaN
7,H,352,197,149,279,280,394,502,347,337,446.0,395.0,353.0,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,assay date,2024-01-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,color to right,blue,NaN,106.5,Ci/pmol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Plate #,1,NaN,124179,cpm/pmol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"cell info, initials etc",comment 1,NaN,0.5,ml vol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,comment,comment 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,copy-paste radioactivity counts anywhere in bo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Drug 1 name below,NaN,NaN,4686,4674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,which drug,NaN,NaN,4677,5084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,5242,4851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,4932,5120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,Set,Set,Set,Set,Set,Set,Set,Set,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,1,1,2,2,3,3,4,4,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,in units log([drug]),NaN,in units log([drug]),NaN,in units log([drug]),NaN,in units log([drug]),NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,Drug 1 name below,Drug 1 top [ ] below,Drug 2 name below,Drug 2 top [ ] below,Drug 3 name below,Drug 3 top [ ] below,Drug 4 name below,Drug 4 top [ ] below,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,Drug 1,-6,Drug 2,-5,Drug 3,-6,Drug 4,-7,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,A,B,C,D,E,F,G,H,NaN,NaN,NaN,NaN,NaN,NaN
31,1,300,344,373,506,358,565,361,352,DO NOT MODIFY,NaN,NaN,NaN,NaN,NaN
32,2,174,214,212,190,265,162,176,197,NaN,NaN,NaN,NaN,NaN,NaN
33,3,145,140,209,149,209,158,161,149,NaN,NaN,NaN,NaN,NaN,NaN
34,4,195,196,202,263,282,364,261,279,NaN,NaN,NaN,NaN,NaN,NaN
35,5,222,243,234,325,487,435,262,280,NaN,NaN,NaN,NaN,NaN,NaN
36,6,277,292,331,321,421,425,387,394,NaN,NaN,NaN,NaN,NaN,NaN
37,7,349,436,389,374,454,497,430,502,NaN,NaN,NaN,NaN,NaN,NaN
38,8,341,338,341,372,398,476,380,347,NaN,NaN,NaN,NaN,NaN,NaN
39,9,259,276,326,341,335,352,314,337,NaN,NaN,NaN,NaN,NaN,NaN
40,10,313,272,358,334,441,474,375,446,NaN,NaN,NaN,NaN,NaN,NaN
41,11,250,270,318,333,343,327,396,395,NaN,NaN,NaN,NaN,NaN,NaN
42,12,307,312,369,385,334,413,422,353,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 8 rows, labeled A-H in unnamed first column. 12 columns of wells
rowLabel = rawData.loc[rawData.index[0:8], ['Unnamed: 0']]
rawValues = rawData.loc[rawData.index[0:8], range(1, 12)]
print(rawValues)
print(rowLabel)

     1    2    3    4    5    6    7    8    9     10     11
0  300  174  145  195  222  277  349  341  259  313.0  250.0
1  344  214  140  196  243  292  436  338  276  272.0  270.0
2  373  212  209  202  234  331  389  341  326  358.0  318.0
3  506  190  149  263  325  321  374  372  341  334.0  333.0
4  358  265  209  282  487  421  454  398  335  441.0  343.0
5  565  162  158  364  435  425  497  476  352  474.0  327.0
6  361  176  161  261  262  387  430  380  314  375.0  396.0
7  352  197  149  279  280  394  502  347  337  446.0  395.0
  Unnamed: 0
0          A
1          B
2          C
3          D
4          E
5          F
6          G
7          H

In [5]:
# data loading
testBind = PharmOps.WellData(rawData)
testBind.display()
allDR = testBind.make_all_drug_reports()
dr=testBind.make_drug_report(1)
for i in allDR:
    print(i.average)
    print(i.specific)
    print(i.pctTotal)
    print(i.drug)

     1    2    3    4    5    6    7    8    9     10     11     12
0  300  174  145  195  222  277  349  341  259  313.0  250.0  307.0
1  344  214  140  196  243  292  436  338  276  272.0  270.0  312.0
2  373  212  209  202  234  331  389  341  326  358.0  318.0  369.0
3  506  190  149  263  325  321  374  372  341  334.0  333.0  385.0
4  358  265  209  282  487  421  454  398  335  441.0  343.0  334.0
5  565  162  158  364  435  425  497  476  352  474.0  327.0  413.0
6  361  176  161  261  262  387  430  380  314  375.0  396.0  422.0
7  352  197  149  279  280  394  502  347  337  446.0  395.0  353.0
[]
['Drug1', 'Drug2', 'Drug3', 'Drug4']
     3    4    5    6    7    8    9     10     11
0  145  195  222  277  349  341  259  313.0  250.0
1  140  196  243  292  436  338  276  272.0  270.0
     1    2    3    4    5    6    7    8    9     10     11     12
0  300  174  145  195  222  277  349  341  259  313.0  250.0  307.0
1  344  214  140  196  243  292  436  338  276  272.0  270.0  312.0
     3    4    5    6    7    8    9     10     11
2  209  202  234  331  389  341  326  358.0  318.0
3  149  263  325  321  374  372  341  334.0  333.0
     1    2    3    4    5    6    7    8    9     10     11     12
2  373  212  209  202  234  331  389  341  326  358.0  318.0  369.0
3  506  190  149  263  325  321  374  372  341  334.0  333.0  385.0
     3    4    5    6    7    8    9     10     11
4  209  282  487  421  454  398  335  441.0  343.0
5  158  364  435  425  497  476  352  474.0  327.0
     1    2    3    4    5    6    7    8    9     10     11     12
4  358  265  209  282  487  421  454  398  335  441.0  343.0  334.0
5  565  162  158  364  435  425  497  476  352  474.0  327.0  413.0
     3    4    5    6    7    8    9     10     11
6  161  261  262  387  430  380  314  375.0  396.0
7  149  279  280  394  502  347  337  446.0  395.0
     1    2    3    4    5    6    7    8    9     10     11     12
6  361  176  161  261  262  387  430  380  314  375.0  396.0  422.0
7  352  197  149  279  280  394  502  347  337  446.0  395.0  353.0
     3    4    5    6    7    8    9     10     11
2  209  202  234  331  389  341  326  358.0  318.0
3  149  263  325  321  374  372  341  334.0  333.0
     1    2    3    4    5    6    7    8    9     10     11     12
2  373  212  209  202  234  331  389  341  326  358.0  318.0  369.0
3  506  190  149  263  325  321  374  372  341  334.0  333.0  385.0
[3     142.5
4     195.5
5     232.5
6     284.5
7     392.5
8     339.5
9     267.5
10    292.5
11    260.0
dtype: float64]
[3     -56.25
4      -3.25
5      33.75
6      85.75
7     193.75
8     140.75
9      68.75
10     93.75
11     61.25
dtype: float64]
[3     -31.315240
4      -1.809325
5      18.789144
6      47.738344
7     107.863605
8      78.357690
9      38.274182
10     52.192067
11     34.098817
dtype: float64]
Drug1
[3     179.0
4     232.5
5     279.5
6     326.0
7     381.5
8     356.5
9     333.5
10    346.0
11    325.5
dtype: float64]
[3     -19.75
4      33.75
5      80.75
6     127.25
7     182.75
8     157.75
9     134.75
10    147.25
11    126.75
dtype: float64]
[3     -10.995129
4      18.789144
5      44.954767
6      70.842032
7     101.739736
8      87.821851
9      75.017397
10     81.976340
11     70.563674
dtype: float64]
Drug2
[3     183.5
4     323.0
5     461.0
6     423.0
7     475.5
8     437.0
9     343.5
10    457.5
11    335.0
dtype: float64]
[3     -15.25
4     124.25
5     262.25
6     224.25
7     276.75
8     238.25
9     144.75
10    258.75
11    136.25
dtype: float64]
[3      -8.489910
4      69.171886
5     145.998608
6     124.843424
7     154.070981
8     132.637439
9      80.584551
10    144.050104
11     75.852470
dtype: float64]
Drug3
[3     155.0
4     270.0
5     271.0
6     390.5
7     466.0
8     363.5
9     325.5
10    410.5
11    395.5
dtype: float64]
[3     -43.75
4      71.25
5      72.25
6     191.75
7     267.25
8     164.75
9     126.75
10    211.75
11    196.75
dtype: float64]
[3     -24.356298
4      39.665971
5      40.222686
6     106.750174
7     148.782185
8      91.718859
9      70.563674
10    117.884482
11    109.533751
dtype: float64]
Drug4

In [ ]:
# object serialization and saving
import pickle
import h5py

filePath = "sample data/testH5.h5"
serializedObj = pickle.dumps(testBind)
serializedArray = np.frombuffer(serializedObj, dtype='uint8')
groupName = "testObjects"
datasetName = "testData"
with h5py.File(filePath, "a") as h5file:
    group = h5file.require_group(groupName)

    if datasetName in group:
        del group[datasetName]
        print(f"Dataset '{datasetName}' exists. Overwriting.")
    group.create_dataset("testData", data=serializedArray)
    metadata = h5file.require_group("metadata")
    currentVersion = version("PharmOps")
    metadata.attrs["version"] = currentVersion

SyntaxError: invalid syntax (2912385473.py, line 13)

In [ ]:
# object loading and deserialization
with h5py.File(filePath, "r") as h5file:
    if groupName not in h5file or datasetName not in h5file[groupName]:
        raise KeyError(f"Dataset '{datasetName}' not found in group '{groupName}'")
    
    serializedArray = h5file[groupName][datasetName][:]
    loadedRawData = pickle.loads(serializedArray.tobytes())
    print(list(h5file.keys()))

loadedRawData.display()

In [ ]:
# GUI sandbox
import tkinter as tk
from tkinter import ttk

root = tk.Tk()
root.title("binding GUI test")
root.geometry("625x300")

mainframe = ttk.Frame(root)
mainframe['borderwidth'] = 10
mainframe['relief'] = 'sunken'
mainframe.grid(row=0, column=0, sticky="N, S, E, W", padx=5, pady=5)
root.grid_rowconfigure(0, weight=1)
root.grid_columnconfigure(0, weight=1)


currentObj = loadedRawData
tree = ttk.Treeview(mainframe, columns=list(currentObj.data.columns), show="headings")
tree.grid(row=0, column=0, sticky="N, S, E, W")

for col in currentObj.data.columns:
    tree.heading(col, text=col)
    tree.column(col, width=100, anchor=tk.CENTER)

for _, row in currentObj.data.iterrows():
    tree.insert("", tk.END, values=list(row))

mainframe.grid_rowconfigure(0, weight=1)
mainframe.grid_columnconfigure(0, weight=1)

scroll_x = ttk.Scrollbar(mainframe, orient=tk.HORIZONTAL, command=tree.xview)
scroll_x.grid(row=1, column=0, sticky="E, W")
scroll_y = ttk.Scrollbar(mainframe, orient=tk.VERTICAL, command=tree.yview)
scroll_y.grid(row=0, column=1, sticky="N, S")

tree.configure(xscrollcommand=scroll_x.set, yscrollcommand=scroll_y.set)

label = ttk.Label(root, text="more text")
label.grid(row=1, column=0, sticky="W", padx=5, pady=5)

button = ttk.Button(root, text="Click me")
button.grid(row=2, column=0, sticky="W", padx=5, pady=5)
root.mainloop()